<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" href="stylesheets/master.css" media="screen" title="no title" charset="utf-8">


    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="jumbotron">

      <img src="images/coolLogo.png" alt="logo" style="width:80%;height:40%;">

      <div class="column">
        <form method="post" class="inner">
          <input class="form-control" type="text" placeholder="Quer economizar no que hoje?" name="keyWord"/>
          <button  class="btn btn-block btn-primary" >Buscar!</button>
        </form>
      </div>


      <footer class="footer">
         <div class="container">
           <h5>MaisBarata inc - <small>@Copyrights 2017.</small></h5>
         </div>
      </footer>
    </div><!--/div jumbotron-->  </body>
</html>
